TELEGRAM_BOT_USERNAME=ToshKSZArizaQabul2026Bot
TELEGRAM_BOT_TOKEN=BotFather_bergan_YANGI_token
TELEGRAM_ADMIN_ID=0
TELEGRAM_AUTO_CREATE_ADMIN=true

DB_URL=jdbc:postgresql://localhost:5432/Tashksz-bot-db
DB_USERNAME=postgres
DB_PASSWORD=1234
SPRING_MAIN_WEB_APPLICATION_TYPE=none
